<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.hydro.CommonMeterMapper">
    <!--mapper接口所在包-->

    <select id="getRunningCnt" resultType="com.hust.hydroelectric_backend.Entity.VO.RunningDevice">
        select
          a.water_total as water_meter_cnt,
          b.water_suc_total as water_meter_suc_cnt,
          c.ammter_total as ammeter_cnt,
          d.ammter_total as ammeter_suc_cnt
        from(
                select
                  count(0) as water_total,
                  c_id
                from
                  t_watermeter
                where
                  c_id = #{cId}
                  and is_delete = 0
            ) a
            join
            (
                select
                  count(0) as water_suc_total,
                  c_id
                from
                  t_watermeter
                where
                  c_id = #{cId}
                  and state = 1
                  and is_delete = 0
            ) b
            on a.c_id = b.c_id
            join
            (
                select
                  count(0) as ammter_total,
                  c_id
                from
                  t_ammeter
                where
                  c_id = #{cId}
                  and is_delete = 0
            ) c
            on a.c_id = c.c_id
            join
            (
                select
                  count(0) as ammter_total,
                  c_id
                from
                  t_ammeter
                where
                  c_id = #{cId}
                  and state = 1
                  and is_delete = 0
            ) d
            on a.c_id = d.c_id
    </select>

</mapper>