<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.hydro.DailyUseMapper">
    <!--mapper接口所在包-->
    <insert id="saveDailyUse" parameterType="com.hust.hydroelectric_backend.Entity.DailyUse">
        insert into
          t_daily_use(
            meter_no,
            daily_amount,
            meter_type,
            dateline,
            c_id,
            enprNo
          ) values (
            #{meterNo},
            #{dailyAmount},
            #{meterType},
            #{dateline},
            #{cId},
            #{enprNo}
          )
    </insert>

    <select id="getDailyUseDetail" resultType="com.hust.hydroelectric_backend.Entity.MeterUseDetail">
        select
          sum(daily_amount) as daily_use,
          FROM_UNIXTIME(dateline,'%Y-%m-%d') as dateline
        from
          t_daily_use
        <where>
            c_id = #{cid}
            <![CDATA[
                and dateline >= #{startLine}
                AND dateline <= #{endLine}
            ]]>
            and meter_type = #{meterType}
        </where>
        group by
          FROM_UNIXTIME(dateline,'%Y-%m-%d')
    </select>

</mapper>