<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.hydro.EnprMapper">
    <!--mapper接口所在包-->
    <insert id="addEnpr" parameterType="com.hust.hydroelectric_backend.Entity.Enpr">
        insert into
          t_enterprise(
            enprNo,
            enpr_name,
            create_time
          ) values (
            #{enprNo},
            #{enprName},
            #{createTime}
          )
    </insert>

    <select id="findAll" resultType="com.hust.hydroelectric_backend.Entity.Enpr">
        select
          *
        from
          t_enterprise
    </select>

</mapper>