<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.hydro.WaterMeterMapper">
    <!--mapper接口所在包-->

    <select id="getWaterMeterDetail" resultType="com.hust.hydroelectric_backend.Entity.Watermeter">
        select
          *
        from
          t_watermeter
        where
          meter_no = #{meterNo}
          and enprNo = #{enprNo}
    </select>

    <select id="findAll" resultType="com.hust.hydroelectric_backend.Entity.Watermeter">
        select
          *
        from
          t_watermeter
    </select>

    <update id="uptWatermeterValue" parameterType="com.hust.hydroelectric_backend.Entity.Watermeter">
        update
          t_watermeter
        set
          read_time = #{readTime},
          read_value = #{readValue},
          pre_read_time = #{preReadTime},
          pre_read_value = #{preReadValue},
          day_amount = #{dayAmount},
          month_amount = #{monthAmount},
          state = #{state}
        where
          watermeter_id = #{watermeterId}
    </update>

    <insert id="saveMeter" parameterType="com.hust.hydroelectric_backend.Entity.Watermeter">
        insert into
          t_watermeter(
            meter_no,
            u_id,
            c_id,
            caliber,
            install_time,
            read_time,
            read_value,
            pre_read_time,
            pre_read_value,
            day_amount,
            month_amount,
            state,
            enprNo
          ) values (
            #{meterNo},
            #{uId},
            #{cId},
            #{caliber},
            #{installTime},
            #{readTime},
            #{readValue},
            #{preReadTime},
            #{preReadValue},
            #{dayAmount},
            #{monthAmount},
            #{state},
            #{enprNo}
          )
    </insert>

    <select id="findAllMeterNoByEnprNo" resultType="java.lang.String">
        select
          distinct meter_no
        from
          t_watermeter
        where
          enprNo = #{enprNo}
    </select>

    <select id="findFailedWatermeter" resultType="com.hust.hydroelectric_backend.Entity.Watermeter">
        select
          *
        from
          t_watermeter
        where
          is_delete = 0
          and c_id = #{cid}
          and state = 1
    </select>

    <select id="findWatermeterByUnoAndEnprNo" resultType="com.hust.hydroelectric_backend.Entity.Watermeter">
        select
            meter.watermeter_id,
            meter.meter_no,
            meter.u_id,
            meter.c_id,
            meter.caliber,
            meter.install_time,
            meter.read_time,
            meter.read_value,
            meter.pre_read_time,
            meter.pre_read_value,
            meter.day_amount,
            meter.month_amount,
            meter.state,
            meter.enprNo
        from (
            select
              u_id
            from
              t_user
            where
              u_no = #{uNo}
              and enprNo = #{enprNo}
              and is_delete = 0
        ) u
        left join
          t_watermeter meter
        on
          u.u_id = meter.u_id
        where
          meter.is_delete = 0
    </select>

</mapper>