<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.AmmeterUsageMapper">
    <!--mapper接口所在包-->

    <select id="getAmmeterDailyUsage" resultType="com.hust.hydroelectric_backend.Entity.VO.MeterDailyUsage">
        select
          sum(ammeter_usage) as daily_use,
          FROM_UNIXTIME(end_time,'%Y-%m-%d') as dateline,
          1 as water_type
        from
          t_ammeter_usage
        where
          ammeter_no = #{ammeterNo}
          and enprNo = #{enprNo}
        group by
          FROM_UNIXTIME(end_time,'%Y-%m-%d')
    </select>

    <select id="getAmmeterUsageDetail" resultType="com.hust.hydroelectric_backend.Entity.Ammeters.AmmeterUsage">
        select
          *
        from
          t_ammeter_usage
        where
          ammeter_no = #{ammeterNo}
          and enprNo = #{enprNo}
        <![CDATA[
            and end_time >= #{startLine}
            and end_time <= #{endLine}
        ]]>
    </select>

    <select id="getCommunityUsage" resultType="java.math.BigDecimal">
        select
          sum(ammeter_usage)
        from
          t_ammeter_usage
        where
          ammeter_no in(
            select
              ammeter_no
            from
              t_ammeter
            where
              c_id = #{cid}
          )
          and enprNo = #{enprNo}
          <![CDATA[
            and end_time >= #{startLine}
            and end_time <= #{endLine}
          ]]>
    </select>

</mapper>