<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.WaterMeterMapper">
    <!--mapper接口所在包-->

    <select id="getWaterMeterDetail" resultType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        select
          *
        from
          t_watermeter
        where
          meter_no = #{meterNo}
          and enprNo = #{enprNo}
          and is_delete = 0
    </select>

    <select id="findAll" resultType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        select
          *
        from
          t_watermeter
        where
          is_delete = 0
    </select>

    <update id="uptWatermeterValue" parameterType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        update
          t_watermeter
        set
          read_time = #{readTime},
          read_value = #{readValue},
          pre_read_time = #{preReadTime},
          pre_read_value = #{preReadValue},
          month_amount = #{monthAmount},
          state = #{state}
        where
          watermeter_id = #{watermeterId}
          and is_delete = 0
    </update>

    <insert id="saveMeter" parameterType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        insert into
          t_watermeter(
            meter_no,
            u_id,
            c_id,
            caliber,
            install_time,
            read_time,
            read_value,
            pre_read_time,
            pre_read_value,
            month_amount,
            meter_type,
            valve,
            state,
            enprNo
          ) values (
            #{meterNo},
            #{uId},
            #{cId},
            #{caliber},
            #{installTime},
            #{readTime},
            #{readValue},
            #{preReadTime},
            #{preReadValue},
            #{monthAmount},
            #{meterType},
            #{valve},
            #{state},
            #{enprNo}
          )
    </insert>

    <select id="findAllWatermeterNoByEnprNo" resultType="java.lang.String">
        select
          distinct meter_no
        from
          t_watermeter
        where
          enprNo = #{enprNo}
          and is_delete = 0
    </select>

    <select id="findFailedWatermeter" resultType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        select
          *
        from
          t_watermeter
        where
          is_delete = 0
          and c_id = #{cid}
          and state = 1
    </select>

    <select id="findWatermeterByUid" resultType="com.hust.hydroelectric_backend.Entity.Watermeters.Watermeter">
        select
          *
        from
          t_watermeter
        where
          is_delete = 0
          and u_id = #{uid}
    </select>

</mapper>