<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.WatermeterUsageMapper">
    <!--mapper接口所在包-->

    <select id="getWatemeterDailyUsage" resultType="com.hust.hydroelectric_backend.Entity.VO.MeterDailyUsage">
        select
          watermeter_usage as daily_use,
          read_date as dateline,
          0 as meter_type
        from
          t_watermeter_usage
        where
          watermeter_no = #{ammeterNo}
          and enprNo = #{enprNo}
    </select>

    <select id="getCommunityUsage" resultType="java.math.BigDecimal">
        select
          sum(watermeter_usage) as total_usage
        from
          t_watermeter_usage
        where
          watermeter_no in (
            select
              meter_no
            from
              t_watermeter
            where
              c_id = #{cid}
              and is_delete = 0
          )
          and enprNo = #{enprNo}
          <![CDATA[
            and read_ts >= #{startLine}
            and read_ts <= #{endLine}
          ]]>
    </select>

    <insert id="save" parameterType="com.hust.hydroelectric_backend.Entity.Watermeters.WatermeterUsage">
        insert into
          t_watermeter_usage(
            watermeter_no,
            watermeter_usage,
            read_date,
            read_ts,
            read_value,
            enprNo
          ) values (
            #{watermeterNo},
            #{watermeterUsaga},
            #{readDate},
            #{readTs},
            #{readValue},
            #{enprNo}
          )
    </insert>

</mapper>