<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.WatermeterCostMapper">
    <!--mapper接口所在包-->

    <select id="getWatermeterDailyCost" resultType="com.hust.hydroelectric_backend.Entity.VO.MeterDailyCost">
        select
          cost_money as daily_cost,
          cost_date as dateline,
          0 as water_type
        from
          t_watermeter_cost
        where
          watermeter_no = #{meterNo}
          and enprNo = #{enprNo}
    </select>

    <insert id="save" parameterType="com.hust.hydroelectric_backend.Entity.Watermeters.WatermeterCost">
        insert into
          t_watermeter_cost(
            u_id,
            watermeter_usage,
            cost_money,
            cost_time,
            cost_date,
            watermeter_no,
            enprNo
          ) values (
            #{uId},
            #{watermeterUsage},
            #{costMoney},
            #{costTime},
            #{costDate}
            #{watermeterNo},
            #{enprNo}
          )
    </insert>

</mapper>