<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.WatermeterUsageMapper">
    <!--mapper接口所在包-->

    <select id="getWatemeterDailyUsage" resultType="com.hust.hydroelectric_backend.Entity.VO.MeterDailyUsage">
        select
          sum(watermeter_usage) as daily_use,
          FROM_UNIXTIME(end_time,'%Y-%m-%d') as dateline,
          0 as meter_type
        from
          t_watermeter_usage
        where
          watermeter_no = #{meterNo}
          and enprNo = #{enprNo}
        group by
          FROM_UNIXTIME(end_time,'%Y-%m-%d')
    </select>

    <select id="getCommunityUsage" resultType="java.math.BigDecimal">
        select
          sum(watermeter_usage)
        from
          t_watermeter_usage
        where
          watermeter_no in(
            select
              meter_no
            from
              t_watermeter
            where
              c_id = #{cid}
          )
          and enprNo = #{enprNo}
          <![CDATA[
            and end_time >= #{startLine}
            and end_time <= #{endLine}
          ]]>
    </select>

    <insert id="save" parameterType="com.hust.hydroelectric_backend.Entity.Watermeters.WatermeterUsage">
        insert into
          t_watermeter_usage(
            watermeter_no,
            watermeter_usage,
            end_time,
            end_value,
            enprNo
          ) values (
            #{watermeterNo},
            #{watermeterUsaga},
            #{endTime},
            #{endValue},
            #{enprNo}
          )
    </insert>

</mapper>