<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.hydroelectric_backend.Dao.WatermeterUsageMapper">
    <!--mapper接口所在包-->

    <select id="getWatemeterDailyUsage" resultType="com.hust.hydroelectric_backend.Entity.VO.MeterDailyUsage">
        select
          sum(watermeter_usage) as daily_use,
          FROM_UNIXTIME(end_time,'%Y-%m-%d') as dateline
        from
          t_watermeter_usage
        where
          watermeter_no = #{meterNo}
          and enprNo = #{enprNo}
        group by
          FROM_UNIXTIME(end_time,'%Y-%m-%d')
    </select>

</mapper>